In [3]:
# 1) Rename the notebook to an "appropriate name"
# 2) Always write comments at the beginning of each section
# --> single line comment

In [4]:
# Below is the method to comment multiple lines together
"""
This is the 
first session on
introduction of Python
with data types and data structures
test
comment
"""

'\nThis is the \nfirst session on\nintroduction of Python\nwith data types and data structures\ntest\ncomment\n'

In [24]:
# Syntax "=" (assignment operator) for assigning value to a variable
x = 3 #x is an integer variable
y = "abc" #y is a str
z = 'abcd' #z is a str
aa = "paul's"
ab = 'paul"s'
a = 3.4 #z is a float

In [25]:
# Printing(Displaying) value in a variable
print(x)
print(y)
print(z)
print(a)
print(aa)
print(ab)

3
abc
abcd
3.4
paul's
paul"s

In [30]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [31]:
#Boolean

print(10>9)
print(10==9)
print(10<9)

True
False
False

In [37]:
a= 100
b = 100

if b >= a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

In [38]:
#List
#types of lists
# Lists are of same data type
List1 = ["a", "b", "c"]
List2 = [1,2,3]
List3 = [True, True, False]
List4 = ["a",1,True]

In [39]:
print(type(List1))
print(type(List2))
print(type(List3))
print(type(List4))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [40]:
type(List4)

list

In [41]:
#Dictionaries
# Data is stored in a combination of key value pair
dict1 = {
    "brand":"Maruti",
    "model": "Brezza",
    "mileage": 18
}
print(dict1)

{'brand': 'Maruti', 'model': 'Brezza', 'mileage': 18}